<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LR parsing table</title>

    <style>
        /* Overall table style */
        .lr-parsing-table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }

        /* All cell styles */
        .lr-parsing-table th,
        .lr-parsing-table td {
            border: 1px solid #dddddd;
            padding: 8px;
        }

        /* Special horizontal separators with black borders */
        .lr-parsing-table tr:nth-child(2) th {
            border-bottom: 1px solid black;
        }

        /* Special vertical separators with black borders */
        .lr-parsing-table td:nth-child(1),
        .lr-parsing-table td:nth-child({{table.terminals.count + 1}}) {
            border-right: 1px solid black;
        }

        /* Header cell style */
        .lr-parsing-table th,
        .lr-parsing-table td,
        .lr-parsing-table td:nth-child(1) {
            text-align: center;
        }

        /* Action table cells */
        .lr-parsing-table td:nth-child(n+2) {
            text-align: left;
        }

        /* Goto table cells */
        .lr-parsing-table td:nth-child(n+{{table.terminals.count + 2}}) {
            text-align: center;
        }

        /* Conflicting cell style */
        .conflict-cell {
            background: #ffc7ce;
        }

        /* Action table list style */
        .lr-parsing-table ul {
            list-style-type: none;
            padding: 0 5px;
            margin: 5px 0;
        }

        /* Action table list item style */
        .lr-parsing-table ul li {
            list-style-type: none;
            margin: 0 2px;
        }
    </style>
</head>
<body>
    <table class="lr-parsing-table">
        <!-- Action and Goto labels on top  -->
        <tr>
            <th></th>
            <th colspan="{{table.terminals.count}}">Action</th>
            <th colspan="{{table.nonterminals.count}}">Goto</th>
        </tr>
        <!-- State, Terminals..., Nonterminals... -->
        <tr>
            <th>State</th>
            <!-- Terminals -->
            {{-for t in table.terminals}}
            <th>{{t}}</th>
            {{-end}}
            <!-- Nonterminals -->
            {{-for nt in table.nonterminals}}
            <th>{{nt}}</th>
            {{-end}}
        </tr>
        <!-- A row for each state -->
        {{-for state in table.states}}
        <tr>
            <!-- State number -->
            <td>{{state.id}}</td>
            <!-- Actions with terminals -->
            {{-for t in table.terminals}}
                {{-$actions = lr_actions(table, state, t)}}
            <td{{-if $actions.count > 1}} class="conflict-cell"{{end}}>
                <ul>
                {{-for action in $actions}}
                    {{-if is_shift(action)}}
                    <li>S: {{action.state.id}}</li>
                    {{-else if is_reduce(action)}}
                    {{-$production = action.production}}
                    <li>R: {{include('Visualization/production.template', production: $production)}}</li>
                    {{-else}}
                    <li>A</li>
                    {{-end}}
                {{-end}}
                </ul>
            </td>
            {{-end}}
            <!-- Goto with nonterminals -->
            {{-for nt in table.nonterminals}}
                {{-$goto = lr_goto(table, state, nt)}}
                {{-if $goto == null}}
            <td></td>
                {{-else}}
            <td>{{$goto.id}}</td>
                {{-end}}
            {{-end}}
        </tr>
        {{-end}}
    </table>
</body>
