{{$.production.left}} →
{{-if is_empty($.production.right) && $.cursor == null~}}
 ε
{{-else-}}
    {{-$i = 0-}}
    {{-for symbol in $.production.right-}}
        {{-if $i == $.cursor~}}
 •
        {{-end~}}
 {{symbol}}
        {{-$i += 1-}}
    {{-end}}
    {{-if $i == $.cursor~}}
 •
    {{-end-}}
{{-end-}}
